* {
	margin:0;
	padding:0;
}
html, body {
	height:100%;
}
body#page1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:16px;
	/*background:#EAEAEA url(images/main_shape.gif) no-repeat 50% 0%;*/
}
body#page4 {
	line-height:18px;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:16px;
	/*background:#EAEAEA url(images/main_shape2.gif) no-repeat 50% 0%;*/
}
img {
	border:0;
	vertical-align:top;
	text-align:left;
}
object {
	vertical-align:top;
	outline:none;
}
ul, ol {
	margin-bottom:16px
}
ul li {
	padding-bottom: 10px;
}
ul li a {
	color:#d4411a;
}
.fleft {
	float:left !important;
}
.fright {
	float:right;
}
.clear {
	clear:both;
	line-height:0%;
	font-size:0%;
	height:0%
}
.col-1, .col-2, .col-3, .col-4, .sub_col-1, .sub_col-2, .sub_col-3, .sub_col-4, .col_sub_1, .col_sub_2, .col_sub_3 {
	float:left;
	display:inline;
	margin-right:20px;
}
.alignright {
	text-align:right;
}
.aligncenter {
	text-align:center;
}
.wrapper {
	width:100%;
	overflow:hidden;
}

/*==== GLOBAL =====*/
#main {
	margin:0 auto;
	background: url(images/top_bg.gif) repeat-x 0% 0%;
	width:100%
}
#header {
	position:relative;
	margin:0 auto;
	width:100%;
	height:209px;
	z-index:10
}
#head {
	position:relative;
	margin:0 auto;
	width:982px;
	height:209px;
	z-index:10
}
/*----- forms parameters -----*/

input, select, textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
}
/*----- other -----*/
.img-indent {
	margin:0px 17px 0 0;
	float:left;
	position:relative
}
.img-indent2 {
	margin:5px 30px 0 24px;
	float:right;
}
.black {
	color:#333
}
p {
	margin-bottom:17px;
}
.p1 {
	margin:17px 0 20px 0!important;
}
.p2 {
	margin:0 0px 11px 0px !important;
}
.p3 {
	margin:0 42px 0 0 !important;
}
.p4 {
	margin:0 20px 0 0 !important;
}
.pt14 {
	font-size:14px !important;
	color:#757881;
	line-height:19px
}
.margin20 {
	margin-bottom:20px !important
}
.margin40 {
	margin-bottom:40px !important
}
.margin30 {
	margin-bottom:30px !important
}
.margin50 {
	margin-bottom:50px !important
}
/*----- txt, links, lines, titles -----*/
a {
	color:#000000;
	outline:none;
}
a:hover {
	text-decoration:none;
}
.non_underline {
	text-decoration:none !important
}
.non_underline:hover {
	text-decoration:underline!important
}
h1 {
	color:#212226;
	font-size:55px;
	font-weight:normal;
	position:relative;
	line-height:1.2em;
	text-align:right;
	margin-bottom:2px;
	margin-top:-13px

}
h2 {
	color:#A0D35A !important;
	font-size:20px;
	font-weight:normal;
	position:relative;
	line-height:1.2em;
	text-align:right;
	margin-bottom:20px;
}
h2 a {
	color:#A0D35A !important;
}
h2 strong {
	font-weight:normal;
	margin-top:-5px;
	display:block;
}
h3 {
	font-size:22px;
/*color:#212226;*/
	margin-bottom:10px;
	font-weight:normal;
	line-height:1.2em;
	margin-top:-6px;
}
.title {
	font-size:13px;
	color:#96a359;
	font-weight:normal
}
h4 {
	color:#fff;
	font-size:13px;
	font-weight:bold;
	margin-bottom:9px
}
h5 {
	color:#fff;
	font-size:1.64em;
	font-weight:bold;
	background:url(images/title_bg.gif) no-repeat 0% 0%;
	width:248px;
	height:39px;
	padding:13px 0 0 24px
}
.button {
	background:url(images/button_bgs3.png) no-repeat 100% 0%;
	display:inline-block;
	text-decoration:none;
	color:#fff;
}
.button span {
	background:url(images/button_bgs1.png) no-repeat 0% 0%;
	display:inline-block;
	padding:0 8px;
	text-decoration:none;

}
.button span span {
	background:url(images/button_bgs2.png) repeat-x 0% 0%;
	position:relative;
	font-size:13px;
	text-decoration:none;
	display:inline-block;
	font-weight:bold;
	height:23px;
	text-align:center;
	padding:6px 15px 0;
	cursor:pointer;

}
.button:hover {
	color:#A0D35A
}
.button2 {
	background:url(images/button2_bgs3.png) no-repeat 100% 0%;
	display:inline-block;
	text-decoration:none;
	color:#fff;
}
.button2 span {
	background:url(images/button2_bgs1.png) no-repeat 0% 0%;
	display:inline-block;
	padding:0 6px;
	text-decoration:none;

}
.button2 span span {
	background:url(images/button2_bgs2.png) repeat-x 0% 0%;
	font-size:13px;
	text-decoration:none;
	display:inline-block;
	font-weight:bold;
	height:21px;
	text-align:center;
	padding:2px 11px 0;
	cursor:pointer;
}
.button2:hover {
	color:#A0D35A
}
.line-hor {
	background:#ddd;
	height:1px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	margin:18px 0 18px 0;
}
/*==================boxes====================*/
.address {
	line-height:18px
}
.address dt {
	margin-bottom:21px
}
.address dd {
	clear:both;
	text-align:right;
}
.address dd span {
	float:left;
}
.address a  {
	color:#fff
}
/*===== header =====*/
#header .logo {
	position:absolute;
	margin:0px 0 0 58px;
	left: -56px;
	top: 7px;
	background:url(images/logo.png);
}

.menu {
	position:absolute;
	top:45px;
	z-index:90;
	left:421px;
	background:url(images/menu_bg.gif) repeat-x 0% 100%;
	padding-bottom:2px;
	line-height:14px;
	text-align: right;
}
/*.menu_bg {
	position:absolute;
	right:0;
	width:50%;
	background:url(images/menu_bg.gif) repeat-x 0% 100%;
	height:70px
}*/
.menu ul {
	margin:0;
	margin-top: 10px !important;
}
.menu ul li {
	float:left;
	line-height:14px;
	margin-right:10px;
}
.menu ul li a {
	line-height:14px;
	font-size:13px;
	color:#000000;
	font-weight:bold;
	text-decoration:none;
	padding-bottom:9px;
	display:block
}
.menu ul li a:hover, .menu ul li a.active {
	background:url(images/button_bg.gif) repeat-x 0% 100%
}
.menu p
{
	color:#000000;
}
.rss {
	position:absolute;
	top:0;
	left:98px
}
.main_pic {
	margin:-31px 0 0 0
}
/*===== content =====*/
#content {
	color:#575960;
	font-size:13px;
	width:983px;
	margin:0 auto;
	position:relative;
	z-index:150;
	padding-bottom:64px
}

/*===== footer =====*/
#footer {
	width:100%;
	margin:0 auto;
	color:#878686;
	height:130px;
	position:relative;
	background:url(images/footer_bg_short.gif) repeat-x 0% 0%
}
#foot {
	width:980px;
	height:100px;
	position:relative;
	margin:0 auto;
	padding-top:25px;
	color:#000;
}
.copy {
	color:#ffe0ba;
	right:0;
	text-align:right;
	top:100px;
	position:absolute;
	font-size:10px;
	width:450px;
	text-transform:uppercase
}
.copy a {
	color:#e7f1d8;
	text-decoration:none;
	text-transform:uppercase;
	margin:0;
}
.copy a:hover {
	text-decoration:underline;
}
.copy span {
	color:#d4d2d2;
}
.bottom_menu {
	position:absolute;
	top:58px
}
.bottom_menu a {
	margin:0 10px;
	color:#9d9d9c;
	text-decoration:none
}
.bottom_menu a:hover {
	text-decoration:underline
}

.companyAddress
{
	text-align: right;
	font-size:smaller;
}
.companyAddress:first-line
{
	font-size:larger;
}

.remotesupport {
	color:#e7f1d8;
	left:0;
	text-align:left;
	top:100px;
	position:absolute;
	font-size:10px;
	width:450px;
	text-transform:uppercase
}
.remotesupport a {
	color:#a0d35a;
	text-decoration:none;
	text-transform:uppercase;
	margin:0 4px
}
.remotesupport a:hover {
	color:#a0d35a;
	text-decoration:none
}

/*----- forms -----*/
.form {
	padding-top:15px
}
.inp_form {
	float:left;
	line-height:1.2em;
	padding-bottom:12px;
	color:#575960;
	font-size:12px
}
.inp_form div.fleft_form{
	float:left;
	margin-right:20px;
	display:inline;
}
.inp_form  input{
	width:249px;
	height:23px;
	background:#fff;
	display:block;
	border:1px solid #505051;
}
.inp_bg {
	width:249px;
	height:31px;
	padding:2px 30px 0 0;
	background:url(images/inp_bg.gif) no-repeat  0% 0%;
	display:block;

}
.height26 {
	height:26px
}
.inp_form textarea {
	width:290px;
	height:118px;
	color:#626262;
	background:#fff;
	float:left;
	overflow:auto;
	border:1px solid #505051;
}
.inp_form .area_bg {
	width:291px;
	height:138px;
	color:#626262;
	padding:2px 0 0 0;
	background:url(images/area_bg.gif) no-repeat 0% 0%;
	float:left;
	border:0;
	margin-top:0px;
}
.inp_form span {
	float:left;
}
/*==========================================*/

.text_indent {
	padding:0 0 36px 20px;
	position:relative
}
.text_indent2 {
	padding:0 0 0 20px;
	position:relative
}
.list {
	list-style:none;
	color:#202020;
}
.list li {
	background:url(images/arrow_right.gif) no-repeat 0px 8px;
	position:relative;
	padding:0 0 1px 11px;
	line-height:22px;
	color:#575960;
	font-size:13px;
}
.list li a {
	color:#575960;
	font-size:13px;
	text-decoration:underline;
}
.list li a:hover {
	text-decoration:none;
}
.list2 {
	list-style:none;
	color:#202020;
}
.list2 li span {
	float:left;
	clear:both
}
.list2 li {
	position:relative;
	line-height:22px;
	color:#575960;
	font-size:13px;
	text-align:right;
	clear:both;
	width: 100%;
	overflow: hidden;
}
.list2 li a {
	color:#f08900;
	font-size:12px;
	text-decoration:none;
}
.list2 li a img {
	margin:3px 4px 0 0
}
.list2 li a:hover {
	color:#575960;
}
.no_marg {
	margin:0 !important
}
.no_marg2 {
	margin:0 0 57px 0 !important
}
.no_pad {
	padding: 0 !important
}
.no_bg {
	background:none !important;
}
.upercase {
	text-transform:uppercase
}
.no_bord {
	border:none !important
}
.box_bgs1 {
	background:url(images/box_bgs1.gif) no-repeat 0% 0%;
	width:307px;
	height:9px;
	line-height:0;
	font-size:0
}
.box_bgs2 {
	background:url(images/box_bgs2.gif) no-repeat 0% 0%;
	width:307px;
	height:11px;
	line-height:0;
	font-size:0
}
.box_bgs3 {
	background:#1e1f22 url(images/box_bgs3.gif) repeat-x 0% 0%;
	min-height:156px;
	height: auto !important;
	height: 156px;
	width:307px;
	color:#6a6d74
}
.box {
	margin-right:30px
}
.container {
	padding:0 26px 9px 0 !important;
	position:relative;
}
.container img {
	position:absolute;
	left:15px;
	top:17px
}
.pad {
	padding-left:96px;
	padding-top:17px;
	position:relative;
}
.foot_col {
	float:left;
	width:150px;
}
.foot_col ul li a {
	color:#fff;
	font-size:12px;
	text-decoration:none
}
.foot_col ul li a em {
	color:#e7f1d8;
}
.foot_col ul li a:hover {
	text-decoration:underline
}
.foot_col ul li li {
	margin-left:7px
}
.news_letter {
	background:url(images/newsletter_bg.gif) no-repeat 0% 0%;
	width:221px;
	position:relative;
	height:20px;
}
.inp {
	width:165px;
	position:absolute;
	top:2px;
	left:2px;
	background:none;
	border:none;
	color:#3e290e;
	font-size:12px;
}
.news_button {
	width:46px;
	height:20px;
	position:absolute;
	right:0;
	top:0;
	cursor:pointer;
	background:none;
	border:none;
}
.abs {
	position:absolute;
	margin-left:-347px;
	margin-top:-175px
}
.block {
	float:left;
	width:290px;
	position:relative
}
.rel {
	position:relative
}

/*========== Login Page ================================*/

fieldset
{
	border:none !important;
	text-align: right;
}

fieldset ul, fieldset ol
{
	list-style: none;
}

fieldset input[type=text], fieldset input[type=password]
{
	border: 1px solid #505051;
}

input[type=submit]
{
	width: 75px;
	font-weight: bold;
	border: 1px solid #505051;
}

/*========== Price List Page ================================*/

.PriceList
{
	border-collapse:collapse;
	width: 100%;
}

.PriceList th
{
	color: #000;
	text-align: left;
	width: 60px;
	background-color: #e7f1d8;
}

.PriceList .Label
{
	color:#000;
	background-color: #e7f1d8;
	padding-right: 10px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.PriceList .ColPrice
{
	color: #000;
	Background-color: #a0d35a;
	Border-left: 1px solid #cc5500;
	padding-right: 10px;
	padding-Left:5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.PriceList .ColSupport
{
	color: #000;
	Background-color: #e7f1d8;
	Border-left: 1px solid #cc5500;
	padding-right: 10px;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.PriceList .Row
{
	Border-bottom: 1px solid #cc5500;
}

.PriceList sup
{
	color:#f00;
	font-size:smaller;
	font-weight:normal;
}

.footnote
{
	padding-top: 20px;
}

.footnote sup
{
	color:#f08900;
}

/*========== Downloads Page ================================*/

.sf_libraryGrid .Title
{
	display:block;
	color:#000000;
}

/*========== News Page ================================*/
.sf_newsList h2 a {
	color:#f08900 !important;
	font-size:18px;
	margin-right: 200px;
}
.sf_newsList p
{
	margin-left: 200px;
}

/*======================= Telerik CSS =====================*/

.RadMenu
{
	white-space:nowrap;
	float:left;
	position:relative;
}

.RadMenu .rmRootGroup
{
	margin:0;
	padding:0;
	position:relative;
	left:0;
	display: inline-block;
}

* html .RadMenu .rmRootGroup { float: left; }

.RadMenu:after,
.RadMenu .rmRootGroup:after
{
    content:"";
    display:block;
    height:0;
    overflow: hidden;
    line-height:0;
    font-size:0;
    clear:both;
    visibility:hidden;
}

.RadMenu ul.rmVertical,
.rmRootGroup ul.rmHorizontal,
.RadMenu_Context ul.rmHorizontal
{
	margin:0;
	padding:0;
	display:none;
	position:relative;
	left:0;
	float:left;
}

.rmSized ul.rmVertical
{
	width: 100%;
}

.rmSized ul.rmRootGroup
{
	float: none;
}

.rmSized .rmRootGroup .rmVertical
{
	width: auto;
}

.RadMenu .rmItem
{
	float:left;
	position:relative;
	list-style-image: none;
	list-style-position:outside;
	list-style:none;
}

* html .RadMenu .rmItem
{
	display:inline;
}

.RadMenu .rmHorizontal .rmItem
{
	clear:none;
}

.RadMenu .rmVertical .rmItem
{
	clear:both;
}

.rmSized .rmVertical .rmItem
{
	width: 100%;
}

.rmSized .rmHorizontal .rmItem,
.rmSized .rmRootGroup .rmVertical .rmItem
{
	width: auto;
}

.RadMenu ul.rmActive,
.RadMenu ul.rmRootGroup
{
	display:block;
}

.RadMenu .rmSlide,
.RadMenu_Context
{
	position:absolute;
	overflow:hidden;
	display:none;
	float:left;
}

* html .RadMenu .rmSlide,
* html .RadMenu_Context
{
	height:1px;
}

.RadMenu_Context
{
	z-index:1000;
	overflow:visible;
}

.RadMenu .rmText
{
	display:block;
}

.RadMenu div.rmText /*templates*/
{
	white-space:normal;
	background: transparent;
}

.RadMenu a.rmLink
{
	cursor:default;
	display:block;
}

.rmScrollWrap
{
	position:absolute;
	float:left;
	overflow:hidden;
	left:0;
}

.RadMenu .rmLeftArrow,
.RadMenu .rmTopArrow,
.RadMenu .rmBottomArrow,
.RadMenu .rmRightArrow
{
	position:absolute;
	z-index:2000;
	text-indent:-1000em;
	font-size: 0;
	line-height: 0;
	outline: 0;
	overflow: hidden;
}

.RadMenu .rmLeftArrowDisabled,
.RadMenu .rmTopArrowDisabled,
.RadMenu .rmBottomArrowDisabled,
.RadMenu .rmRightArrowDisabled
{
	display:none;
	text-indent:-1000em;
	font-size: 0;
	line-height: 0;
}

.RadMenu .rmBottomArrow,
.RadMenu .rmBottomArrowDisabled
{
	margin-bottom: -1px;
}

.RadMenu .rmLeftImage
{
	border:0;
	float:left;
}

.RadMenu_rtl
{
	float:right;
	text-align: right;
}

.RadMenu_rtl ul.rmVertical
{
	float:right;
}

.RadMenu_rtl .rmItem
{
	float:right;
}

.RadMenu_rtl .rmLeftImage,
.RadMenu_Context_rtl .rmLeftImage
{
	border:0;
	float:right;
}

.RadMenu_rtl .rmLeftArrow,
.RadMenu_rtl .rmTopArrow,
.RadMenu_rtl .rmBottomArrow,
.RadMenu_rtl .rmRightArrow,
.RadMenu_rtl .rmLeftArrowDisabled,
.RadMenu_rtl .rmTopArrowDisabled,
.RadMenu_rtl .rmBottomArrowDisabled,
.RadMenu_rtl .rmRightArrowDisabled
{
	text-indent:1000em !important;
}

.RadMenu .rmLink
{
	width:auto;
}

.RadMenu .rmSeparator,
.RadMenu .rmSeparator:after
{
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

.RadMenu div.rmRootGroup
{
    position: relative;
}
/* <base styles> */

.RadMenu .rmItem
{
	padding: 0;
}

.RadMenu .rmLink
{
	padding: 0 0 0 12px;
	outline: 0;
	float: left;
}

.RadMenu .rmText
{
	padding-bottom: 1px;
	float: left;
}

/* optimized for 16x16 */
.RadMenu .rmLeftImage
{
	margin: 4px 2px 0 -3px;
	padding-bottom: 4px;
}

.RadMenu .rmVertical .rmLeftImage+.rmText
{
	padding: 0 8px 1px 24px;
}

.RadMenu .rmVertical .rmText
{
	padding: 0 15px 1px 0;
}

.RadMenu .rmHorizontal .rmText
{
	padding: 0 12px 1px 0;
}

.RadMenu_rtl .rmVertical .rmText
{
	padding: 0 15px 1px 0;
}

.RadMenu .rmVertical .rmText,
.RadMenu .rmHorizontal .rmVertical .rmText
{
	display: block;
	float: none;
}

.RadMenu .rmVertical .rmLink,
.RadMenu .rmHorizontal .rmVertical .rmLink
{
	float: none;
}

* html .RadMenu .rmGroup .rmVertical .rmLink,
* html .RadMenu .rmGroup .rmHorizontal .rmLink
{
	float: left;
}

/* <Shadows and rounded corners */

.RadMenu .rmTopRight,
.RadMenu .rmBottomLeft,
.RadMenu .rmBottomRight,
.RadMenu .rmRoundedCorners ul.rmGroup,
.RadMenu .rmRoundedCorners .rmMultiColumn
{
	border: 0;
	background-position: 0 0;
}

.RadMenu .rmRoundedCorners .rmMultiColumn ul.rmGroup
{
	background: none;
	margin: 0;
}

.RadMenu .rmRoundedCorners .rmGroupColumn
{
	height: 100%;
}

.RadMenu .rmRoundedCorners li.rmFirstGroupColumn
{
	background-color: transparent;
}

.RadMenu .rmTopFix,
.RadMenu .rmTopRight,
.RadMenu .rmBottomFix,
.RadMenu .rmBottomLeft,
.RadMenu .rmBottomRight
{
	position: absolute;
	width: 4px;
	height: 4px;
	list-style-type: none;
	list-style-position: outside;
}

.RadMenu_rtl .rmTopRight,
.RadMenu_rtl .rmBottomRight
{
	width: 32px;
}

.RadMenu_rtl .rmTopShadowRight,
.RadMenu_rtl .rmBottomShadowRight
{
	width: 4px;
}

.RadMenu .rmTopShadowRight,
.RadMenu .rmBottomShadowLeft,
.RadMenu .rmBottomShadowRight
{
	background-repeat: no-repeat;
	background-color: transparent;
}

.rmRoundedCorners .rmTopShadowRight,
.rmRoundedCorners .rmBottomShadowLeft,
.rmRoundedCorners .rmBottomShadowRight
{
	width: 5px;
	height: 5px;
}

.RadMenu .rmTopRight
{
	background-position: 100% 0;
	top: 0;
	right: -4px;
	height: 100%;
}

.RadMenu .rmBottomLeft
{
	background-position: 0 100%;
	bottom: -4px;
	left: 0;
	width: 100%;
}

.RadMenu .rmBottomFix
{
	background-position: -1px 0;
	width: auto;
	bottom: -4px;
	left: 5px;
	right: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.RadMenu .rmTopFix
{
	background-position: -1px 0;
	width: auto;
	top: 0;
	left: 5px;
	right: 0;
	border-top-width: 1px;
	border-top-style: solid;
}

* html .RadMenu .rmTopFix,
* html .RadMenu .rmBottomFix
{
	width: 100%;
}

.RadMenu .rmBottomRight
{
	background-position: 100% 100%;
	bottom: -4px;
	right: -4px;
	width: 8px;
}

.RadMenu .rmShadows .rmBottomShadowLeft,
.RadMenu .rmShadows .rmBottomShadowRight
{
	background-image: url('WebResource.axd?d=9dgxVFSJDrHhyGoDgNrCT1TatyAjlpEuXCOpE5lZoQ6IH5OgReld9L-FYwrMiesE3WvdFPhiDtRhrnR7gAtyf7jIwSQGnrLxOzZNOVV5qqB-Mrx_Mhd8R33PLv6LSU4VzHsk-mFCOll5re0QCTYnzEj9Nco1&t=634196389260000000');
}

.RadMenu .rmRoundedCorners .rmBottomShadowLeft,
.RadMenu .rmRoundedCorners .rmBottomShadowRight
{
	background-image: url('WebResource.axd?d=cJObfhxptkkn_yQr2BFTsysCeCCDtutA-9VnjMfNihM5T9Vh5vcOiEAoDGc-cT19kOIsBIIpgTIsLuBEwkz38chqYomnPR7EQLWiphk3x3iG_4ZpxHYCvY-eCjX72N8rTNzKduMV9D2o42NOIMCzaMgQGHUziwfq47NuSGlaaGMW89WE0&t=634196389260000000');
}

.RadMenu .rmShadows .rmTopShadowRight
{
	right: -5px;
	background-image: url('WebResource.axd?d=SOBsALKjKLzddxUd3Hjh22bnEUS0UTJzKptJn-FrasA5BqsPgUmbSXBYw_rrYCE-EeJDxssB5iU2G29yGZ0ceQtbu7tW1xar0FGhWCsijPAFauJfm2rChKgn5Eu9Lj8IhjaZiCuWx9RKD4QhYSC0QS_ypvY1&t=634196389260000000');
	background-position: 100% 0;
}

.RadMenu .rmRoundedCorners .rmTopShadowRight
{
	right: -8px;
	background-image: url('WebResource.axd?d=O_2UAP6Obvr5UEOhW-siXe7oyVp8SmYUsKmJljgxD9cFyK6FgAFvusxR5lFGPVpvU58iFc6tluX9GjrGlxJdQbbbpYv-xciZ7S_37ZWJNciMm4K8BQe7PXd9bxAjCppvbtHLMFrp5SrypcdDujF0Y7pWlVQ1&t=634196389260000000');
}

.RadMenu .rmBottomShadowLeft
{
	bottom: -5px;
	left: 1px;
	background-position: 0 100%;
}

.RadMenu .rmRoundedCorners .rmBottomShadowLeft
{
	bottom: -8px;
}

.RadMenu .rmBottomShadowRight
{
	bottom: -5px;
	right: -5px;
	width: 4px;
	height: 5px;
}

.RadMenu .rmRoundedCorners .rmBottomShadowRight
{
	bottom: -8px;
	right: -8px;
	width: 7px;
	height: 8px;
}

* html .RadMenu .rmRoundedCorners .rmBottomShadowRight
{
	width: 11px;
	height: 8px;
	font-size: 0;
}

.RadMenu .rmAccessKey
{
	font-size: 10px;
	font-weight: normal;
	float: right;
	padding-right: 8px;
}

.RadMenu .rmRoundedCorners .rmGroup .rmItem
{
	z-index: 1;
}

* html .RadMenu .rmRoundedCorners .rmGroup .rmText,
* html .RadMenu .rmShadows .rmGroup .rmText{ zoom: normal }

.RadMenu .rmRoundedCorners .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu .rmRoundedCorners .rmSlide,
.RadMenu .rmShadows .rmSlide
{
	padding: 0 8px 10px 0;
}

.RadMenu .rmRoundedCorners ul.rmGroup
{
	margin-top: 1px;
	padding: 1px;
}

.RadMenu .rmRoundedCorners ul.rmGroup .rmSlide
{
	margin-top: -5px;
}

.RadMenu_rtl .rmRoundedCorners ul.rmGroup .rmSlide
{
	margin-right: -5px;
}

.RadMenu .rmRoundedCorners ul.rmGroup .rmSlide .rmScrollWrap
{
	margin-top: 4px;
}

.RadMenu .rmRoundedCorners ul.rmGroup
{
	padding: 4px 0 0 4px;
}

/* </Shadows and rounded corners */

.RadMenu .rmRootGroup .rmItem .rmGroup
{
	padding-bottom: 1px;
}

.RadMenu .rmGroup .rmItem
{
	padding: 0;
}

.RadMenu .rmGroup .rmLink,
.RadMenu .rmSlide .rmGroup .rmTemplate
{
	padding: 0;
}

.RadMenu_rtl .rmGroup .rmLink,
.RadMenu_rtl .rmSlide .rmGroup .rmTemplate
{
	padding: 0;
}

.RadMenu .rmGroup .rmText
{
	padding: 0 54px 0 28px;
	margin: 0 0 0 4px;
}

.RadMenu_rtl .rmGroup .rmText
{
	padding: 0 28px 0 54px;
	margin: 0 4px 0 0;
}

.RadMenu .rmMultiColumn
{
	list-style: none;
	display: block;
   	position: relative;
	margin: 0;
	padding: 0;
	zoom: 1;
}

.RadMenu .rmMultiColumn .rmGroup
{
	background: none;
	border: 0;
	float: left;
	display: block;
}

.RadMenu .rmMultiColumn .rmGroupColumn
{
	float: left;
}

.RadMenu .rmSlide .rmVertical .rmLeftImage+.rmText,
.RadMenu_Context .rmGroup .rmLeftImage+.rmText
{
	padding: 0 54px 0 28px;
}

.RadMenu_rtl .rmSlide .rmVertical .rmLeftImage+.rmText,
.RadMenu_Context_rtl .rmGroup .rmLeftImage+.rmText
{
	padding: 0 28px 0 54px;
}

.RadMenu .rmSlide .rmHorizontal .rmText
{
	padding: 0 11px 0 10px;
}

.RadMenu .rmGroup .rmLeftImage
{
	margin: 4px 0 0 6px;
}

* html .RadMenu .rmGroup .rmLeftImage { margin-left: 4px; }
*+html .RadMenu .rmGroup .rmLeftImage { margin-left: 4px; }

.RadMenu_rtl .rmGroup .rmLeftImage
{
	margin: 4px 6px 0 0;
}

* html .RadMenu .rmGroup .rmLeftImage { position: absolute; }
*+html .RadMenu .rmGroup .rmLeftImage { position: absolute; }

* html .RadMenu_rtl .rmGroup .rmLeftImage { right: 0; }
*+html .RadMenu_rtl .rmGroup .rmLeftImage { right: 0; }

*+html .RadMenu_Context_rtl UL.rmGroup { position: absolute; }
* html .RadMenu_Context_rtl UL.rmGroup { position: absolute; }

/* <separators> */

.RadMenu .rmSeparator .rmText
{
	line-height: 0;
	font-size: 0;
	padding: 0;
	background-repeat: repeat-x;
	overflow: hidden;
}

.RadMenu .rmVertical .rmSeparator .rmText,
.RadMenu .rmHorizontal .rmVertical .rmSeparator .rmText
{
	height: auto;
	width: auto;
	padding-bottom: 2px;
}

*+html .RadMenu .rmSeparator .rmText,   /* IE7 separator height problem */
*+html .RadMenu .rmVertical .rmSeparator .rmText,
*+html .RadMenu .rmHorizontal .rmVertical .rmSeparator .rmText
{
	height: 2px;
	padding: 0;
}

* html .RadMenu .rmVertical .rmSeparator .rmText { height: auto; padding: 2px 0 0; }
* html .RadMenu .rmHorizontal .rmSeparator .rmText { padding: 0; }

.RadMenu .rmRootGroup .rmSeparator .rmText
{
	margin: 1px 12px;
}

.RadMenu .rmRootGroup .rmVertical .rmSeparator .rmText,
.RadMenu_Context .rmVertical .rmSeparator .rmText
{
	margin: 1px 2px 1px 31px;
}

.RadMenu_rtl .rmRootGroup .rmVertical .rmSeparator .rmText,
.RadMenu_Context_rtl .rmVertical .rmSeparator .rmText
{
	margin: 1px 31px 1px 2px;
}

.RadMenu .rmHorizontal .rmSeparator .rmText,
.RadMenu .rmVertical .rmHorizontal .rmSeparator .rmText
{
	margin: 2px 0 0;
	height: 20px;
	width: 2px;
}

* html .RadMenu .rmHorizontal .rmVertical .rmSeparator .rmText
{
	zoom: 1;
}

/* </separators> */

/* <scroll arrows> */

.RadMenu .rmLeftArrow,
.RadMenu .rmRightArrow
{
	width: 10px;
	height: 24px;
}

.RadMenu .rmTopArrow,
.RadMenu .rmBottomArrow
{
	height: 10px;
	width: 100%;
}

/* </scroll arrows> */

/* </base styles> */
